# **ðŸ“˜ Student Marks Dataset â€“ Practice Questions**

1. Dataset ko pandas se load karo aur first 5 rows dekho.

2. Dataset ke total rows aur columns count karo.

3. Har student ke total marks aur average marks calculate karo.

4. Subject-wise (Math, Science, English) maximum aur minimum marks find karo.

5. Kis student ke Science me highest marks hain?

6. Overall topper kaun hai (sab subjects ke total ke basis par)?

7. Sirf un students ka record dikhayo jinke Math me 80 se zyada marks hain.

8. Students ko unke English marks ke descending order me sort karo.

9. Kaun kaun se students ke Math aur Science dono me 70+ marks hain?

10. Dataset ka summary statistics (.describe()) nikalo aur samjho ke iska kya matlab hai.

1. Dataset ko pandas se load karo aur first 5 rows dekho.

In [ ]:
import pandas as pd

df = pd.read_csv("step_1_student_marks.csv")
print(df)
print("Top 5 Row Dataset")
print(df.head(5))

  Student  Math  Science  English
0     Ali    85       78       82
1    Sara    92       88       94
2   Usman    76       69       74
3  Fatima    89       91       87
4   Bilal    67       72       65
5  Ayesha    95       84       90
6   Hamza    58       60       70
7  Zainab    73       77       79
8    Omar    81       83       85
9  Maryam    90       89       92
Top 5 Row Dataset
  Student  Math  Science  English
0     Ali    85       78       82
1    Sara    92       88       94
2   Usman    76       69       74
3  Fatima    89       91       87
4   Bilal    67       72       65

2. Dataset ke total rows aur columns count karo.

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  10 non-null     object
 1   Math     10 non-null     int64
 2   Science  10 non-null     int64
 3   English  10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

3. Har student ke total marks aur average marks calculate karo.

In [ ]:
df["Total"] = df[["Math", "Science", "English"]].sum(axis=1)
print(df)

  Student  Math  Science  English  Total
0     Ali    85       78       82    245
1    Sara    92       88       94    274
2   Usman    76       69       74    219
3  Fatima    89       91       87    267
4   Bilal    67       72       65    204
5  Ayesha    95       84       90    269
6   Hamza    58       60       70    188
7  Zainab    73       77       79    229
8    Omar    81       83       85    249
9  Maryam    90       89       92    271

In [39]:
df["Average_marks"] = df[["Math","Science","English"]].mean(axis=1)
print(df)

  Student  Math  Science  English  Total  Average_marks
0     Ali    85       78       82    245      81.666667
1    Sara    92       88       94    274      91.333333
2   Usman    76       69       74    219      73.000000
3  Fatima    89       91       87    267      89.000000
4   Bilal    67       72       65    204      68.000000
5  Ayesha    95       84       90    269      89.666667
6   Hamza    58       60       70    188      62.666667
7  Zainab    73       77       79    229      76.333333
8    Omar    81       83       85    249      83.000000
9  Maryam    90       89       92    271      90.333333

4. Subject-wise (Math, Science, English) maximum aur minimum marks find karo.

In [ ]:
sub_max = df[["Math","Science","English"]].max(axis=0)
print("Subject Wise Maximum Values\n\n",sub_max)

sub_min = df[["Math","Science","English"]].min(axis=0)
print("\nSubject Wise Minimum Values\n\n",sub_min)

Subject Wise Maximum Values

 Math       95
Science    91
English    94
dtype: int64

Subject Wise Minimum Values

 Math       58
Science    60
English    65
dtype: int64

5. Kis student ke Science me highest marks hain?

In [ ]:
max_sci = df["Science"].idxmax()
name = df.loc[max_sci,"Student"]
mark = df.loc[max_sci,"Science"]

print(f"Topper in Science: {name} With {mark} Marks")

Topper in Science: Fatima With 91 Marks

6. Overall topper kaun hai (sab subjects ke total ke basis par)?

In [ ]:
max_total = df["Total"].idxmax()
name_Overall = df.loc[max_total,"Student"]
Total_mark = df.loc[max_total,"Total"]

print(f"Overall Students Heighest Mark: {name_Overall} with {Total_mark} Mark")

Overall Students Heighest Mark: Sara with 274 Mark

7. Sirf un students ka record dikhayo jinke Math me 80 se zyada marks hain.

In [40]:
math_marks = df[df['Math'] > 80][['Student','Math','Average_marks']]
n_student = df[["Student","Total"]]
#num = df.loc[math_marks,"Math"]
#print(n_student,num)
print(math_marks)

  Student  Math  Average_marks
0     Ali    85      81.666667
1    Sara    92      91.333333
3  Fatima    89      89.000000
5  Ayesha    95      89.666667
8    Omar    81      83.000000
9  Maryam    90      90.333333


8. Students ko unke English marks ke descending order me sort karo.

In [46]:
sort_mark = df.sort_values(by=['English'], ascending=False)[['Student','Math','Average_marks']]
print(sort_mark)

  Student  Math  Average_marks
1    Sara    92      91.333333
9  Maryam    90      90.333333
5  Ayesha    95      89.666667
3  Fatima    89      89.000000
8    Omar    81      83.000000
0     Ali    85      81.666667
7  Zainab    73      76.333333
2   Usman    76      73.000000
6   Hamza    58      62.666667
4   Bilal    67      68.000000


9. Kaun kaun se students ke Math aur Science dono me 70+ marks hain?

In [49]:
filter1 = df[(df['Math'] >= 70) & (df['Science'] >= 70)][['Student','Math','Science','Average_marks']]
print(filter1)

  Student  Math  Science  Average_marks
0     Ali    85       78      81.666667
1    Sara    92       88      91.333333
3  Fatima    89       91      89.000000
5  Ayesha    95       84      89.666667
7  Zainab    73       77      76.333333
8    Omar    81       83      83.000000
9  Maryam    90       89      90.333333

10. Dataset ka summary statistics (.describe()) nikalo aur samjho ke iska kya matlab hai.

In [50]:
print('Descriptive Statistics')
describe_data = df.describe()
print(describe_data)

Descriptive Statistics
            Math   Science    English       Total  Average_marks
count  10.000000  10.00000  10.000000   10.000000      10.000000
mean   80.600000  79.10000  81.800000  241.500000      80.500000
std    11.974046   9.89332   9.704524   30.427509      10.142503
min    58.000000  60.00000  65.000000  188.000000      62.666667
25%    73.750000  73.25000  75.250000  221.500000      73.833333
50%    83.000000  80.50000  83.500000  247.000000      82.333333
75%    89.750000  87.00000  89.250000  268.500000      89.500000
max    95.000000  91.00000  94.000000  274.000000      91.333333