# ðŸ“˜ Sales Data Analysis â€“ Practice Questions

1. Dataset ko pandas se load karo aur first 5 rows dekho.

2. Total rows aur columns count karo.

3. Har product ka total revenue calculate karo (Revenue = Quantity Ã— Price).

4. Kis product ka revenue sabse zyada hai?

5. Region-wise total sales (revenue) nikaalo.

6. January 2025 ke andar kaunsa product sabse zyada bikha?

7. Kis region ne sabse zyada laptops kharide?

8. Monthly sales ka trend nikaalo (Jan, Feb, Mar).

9. Top 3 best-selling products (quantity ke hisaab se) dikhayo.

10. Dataset ka summary statistics check karo aur samjho.

1. Dataset ko pandas se load karo aur first 5 rows dekho.

In [2]:
import pandas as pd

df = pd.read_csv("Task_2_sales_data.csv")
print(df)
print("\nTop 5 Row")
print(df.head(5))

          Date     Product     Region  Quantity  Price
0   2025-01-01      Laptop    Karachi         2    800
1   2025-01-02      Mobile     Lahore         5    500
2   2025-01-03      Tablet  Islamabad         3    300
3   2025-01-04      Laptop    Karachi         1    820
4   2025-01-05  Headphones     Lahore         7    100
5   2025-02-01      Mobile    Karachi         4    510
6   2025-02-02      Laptop     Lahore         2    810
7   2025-02-03      Tablet  Islamabad         6    310
8   2025-02-04  Headphones    Karachi         3    120
9   2025-02-05      Mobile  Islamabad         5    495
10  2025-03-01      Laptop     Lahore         2    815
11  2025-03-02      Tablet    Karachi         1    305
12  2025-03-03      Mobile  Islamabad         4    505
13  2025-03-04      Laptop     Lahore         3    820
14  2025-03-05  Headphones    Karachi         6    110

Top 5 Row
         Date     Product     Region  Quantity  Price
0  2025-01-01      Laptop    Karachi         2    800
1  2025-01-02      Mobile     Lahore         5    500
2  2025-01-03      Tablet  Islamabad         3    300
3  2025-01-04      Laptop    Karachi         1    820
4  2025-01-05  Headphones     Lahore         7    100

2. Total rows aur columns count karo.

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      15 non-null     object
 1   Product   15 non-null     object
 2   Region    15 non-null     object
 3   Quantity  15 non-null     int64
 4   Price     15 non-null     int64
dtypes: int64(2), object(3)
memory usage: 732.0+ bytes
None

3. Har product ka total revenue calculate karo (Revenue = Quantity Ã— Price).

In [3]:
df["Revenue"] = df[['Quantity','Price']].prod(axis=1)
print(df)

          Date     Product     Region  Quantity  Price  Revenue
0   2025-01-01      Laptop    Karachi         2    800     1600
1   2025-01-02      Mobile     Lahore         5    500     2500
2   2025-01-03      Tablet  Islamabad         3    300      900
3   2025-01-04      Laptop    Karachi         1    820      820
4   2025-01-05  Headphones     Lahore         7    100      700
5   2025-02-01      Mobile    Karachi         4    510     2040
6   2025-02-02      Laptop     Lahore         2    810     1620
7   2025-02-03      Tablet  Islamabad         6    310     1860
8   2025-02-04  Headphones    Karachi         3    120      360
9   2025-02-05      Mobile  Islamabad         5    495     2475
10  2025-03-01      Laptop     Lahore         2    815     1630
11  2025-03-02      Tablet    Karachi         1    305      305
12  2025-03-03      Mobile  Islamabad         4    505     2020
13  2025-03-04      Laptop     Lahore         3    820     2460
14  2025-03-05  Headphones    Karachi         6    110      660

4. Kis product ka revenue sabse zyada hai?

In [14]:
hig_revenue = df["Revenue"].idxmax()
pro = df.loc[hig_revenue,"Product"]
price = df.loc[hig_revenue,"Price"]
revenue = df.loc[hig_revenue,"Revenue"]

print(f"{hig_revenue} Product: {pro} price: {price} revenue: {revenue}")

1 Product: Mobile price: 500 revenue: 2500


5. Region-wise total sales (revenue) nikaalo.

In [17]:
group = df.groupby("Region")["Revenue"].sum()
print(group)

Region
Islamabad    7255
Karachi      5785
Lahore       8910
Name: Revenue, dtype: int64

6. January 2025 ke andar kaunsa product sabse zyada bikha?

In [3]:
df["Date"] = pd.to_datetime(df["Date"])

jan_date = df[df["Date"].dt.month == 1]
jan_date = jan_date[jan_date["Date"].dt.year == 2025]

hig_sale = jan_date.groupby("Product")[["Quantity"]].max()
print(hig_sale)
print("")
print(jan_date)

            Quantity
Product
Headphones         7
Laptop             2
Mobile             5
Tablet             3

        Date     Product     Region  Quantity  Price
0 2025-01-01      Laptop    Karachi         2    800
1 2025-01-02      Mobile     Lahore         5    500
2 2025-01-03      Tablet  Islamabad         3    300
3 2025-01-04      Laptop    Karachi         1    820
4 2025-01-05  Headphones     Lahore         7    100

7. Kis region ne sabse zyada laptops kharide?

In [ ]:
# sirf laptops wali rows
laptops = df[df['Product'] == 'Laptop'] 
#print(laptops)

# region-wise total quantity
region_total = laptops.groupby("Region")[['Quantity']].sum() 

# sabse zyada laptops kharidne wala region
max_region = region_total.idxmax()
max_value = region_total.max()



print("Sabse zyada laptops kharide:", max_region,  max_value )

Sabse zyada laptops kharide: Quantity    Lahore
dtype: object Quantity    7
dtype: int64

8. Monthly sales ka trend nikaalo (Jan, Feb, Mar).

In [5]:
df["Month"] = df["Date"].dt.month
Monthly_sales = df.groupby("Month")["Quantity"].sum()
print(Monthly_sales)

Month
1    18
2    20
3    16
Name: Quantity, dtype: int64

9. Top 3 best-selling products (quantity ke hisaab se) dikhayo.

In [8]:
Top_best_Selling = df.groupby("Product")["Quantity"].sum().sort_values(ascending=False)
Top_best_Selling.head(3)

Product
Mobile        18
Headphones    16
Laptop        10
Name: Quantity, dtype: int64

10. Dataset ka summary statistics check karo aur samjho.

In [10]:
print(df.describe())

                      Date   Quantity       Price      Month
count                   15  15.000000   15.000000  15.000000
mean   2025-02-02 00:00:00   3.600000  488.000000   2.000000
min    2025-01-01 00:00:00   1.000000  100.000000   1.000000
25%    2025-01-04 12:00:00   2.000000  302.500000   1.000000
50%    2025-02-03 00:00:00   3.000000  500.000000   2.000000
75%    2025-03-01 12:00:00   5.000000  805.000000   3.000000
max    2025-03-05 00:00:00   7.000000  820.000000   3.000000
std                    NaN   1.882248  274.998701   0.845154