In [2]:
import mysql.connector
import pandas as pd

# Connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="library_db"
)

# Query
query = "SELECT * FROM books"
df = pd.read_sql(query, conn)

C:\Users\princ\AppData\Local\Temp\ipykernel_14840\1151236902.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

# Dataset ko samajhna (Basic Info)
## ðŸ“Œ Goals:
- Rows & columns count dekhna

- Columns ke names & datatypes samajhna

- Missing values check karna

## ðŸ‘‰ Functions/Methods:

- .shape â†’ total rows/columns

- .columns â†’ column names

- .info() â†’ datatype aur memory

- .isnull().sum() â†’ missing values

In [30]:
print("Total Row and Columns:",df.shape)
print("\nColumns Name:",df.columns)
#print("\n Missing Values:",df.isnull)
print("Datatype and Memory:",df.info())

Total Row and Columns: (30, 8)

Columns Name: Index(['Book_id', 'Title', 'Author', 'Genre', 'Issued_to', 'Issued_date',
       'Return_date', 'created_at'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book_id      30 non-null     int64
 1   Title        30 non-null     object
 2   Author       30 non-null     object
 3   Genre        30 non-null     object
 4   Issued_to    30 non-null     object
 5   Issued_date  30 non-null     object
 6   Return_date  30 non-null     object
 7   created_at   30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 2.0+ KB
Datatype and Memory: None

# Simple Exploration

## ðŸ“Œ Goals:

- First few records dekhna

- Last few records dekhna

- Random rows check karna

## ðŸ‘‰ Functions/Methods:

- .head() â†’ pehle 5 rows

- .tail() â†’ last 5 rows

- .sample() â†’ random row

In [31]:
print(df.head())
print(df.tail())
print(df.sample())

   Book_id              Title            Author        Genre Issued_to  \
0        1      The Alchemist      Paulo Coelho      Fiction       Ali
1        2      Atomic Habits       James Clear    Self-help      Sara
2        3       Harry Potter      J.K. Rowling      Fantasy     Bilal
3        4  Rich Dad Poor Dad   Robert Kiyosaki      Finance    Ayesha
4        5         Clean Code  Robert C. Martin  Programming     Hamza

  Issued_date Return_date          created_at
0  2024-01-05  2024-01-15 2025-09-22 19:11:49
1  2024-01-07  2024-01-20 2025-09-22 19:11:49
2  2024-01-10  2024-01-25 2025-09-22 19:11:49
3  2024-02-01  2024-02-12 2025-09-22 19:11:49
4  2024-02-05  2024-02-18 2025-09-22 19:11:49
    Book_id                      Title           Author        Genre  \
25       26           The Power of Now    Eckhart Tolle    Self-help
26       27              War and Peace      Leo Tolstoy      History
27       28                 Steve Jobs  Walter Isaacson    Biography
28       29  Data Science from Scratch        Joel Grus  Programming
29       30   Manâ€™s Search for Meaning    Viktor Frankl   Philosophy

   Issued_to Issued_date Return_date          created_at
25     Farah  2024-04-25  2024-05-08 2025-09-22 19:11:49
26     Usman  2024-04-28  2024-05-12 2025-09-22 19:11:49
27    Zainab  2024-05-01  2024-05-15 2025-09-22 19:11:49
28     Ahmed  2024-05-03  2024-05-16 2025-09-22 19:11:49
29     Maria  2024-05-05  2024-05-20 2025-09-22 19:11:49
    Book_id          Title       Author    Genre Issued_to Issued_date  \
26       27  War and Peace  Leo Tolstoy  History     Usman  2024-04-28

   Return_date          created_at
26  2024-05-12 2025-09-22 19:11:49

# ðŸ”¹ Day 3 â€“ Genre & Author Popularity

## ðŸ“Œ Goals:

- Har genre ki count nikalo (kitni books issue hui)

- Top authors find karo

## ðŸ‘‰ Functions/Methods:

- .value_counts() â†’ genre/author frequency

- .groupby() + .count() â†’ genre-wise count

In [23]:
genre = df.groupby("Genre")["Author"].count()
print(genre)
#print(df)
top = df.groupby("Author")[["Author","Genre"]].count().idxmax(axis=0)
print(top)

Genre
Biography       3
Business        1
Fantasy         3
Fiction         5
Finance         2
History         3
Philosophy      2
Productivity    1
Programming     5
Self-help       5
Name: Author, dtype: int64
Author    Yuval Noah Harari
Genre     Yuval Noah Harari
dtype: object

# ðŸ”¹ Day 4 â€“ Borrower Analysis

## ðŸ“Œ Goals:

- Har user ne kitni books li

- Top 3 borrowers find karo

## ðŸ‘‰ Functions/Methods:

- .groupby("issued_to") + .count()

- .sort_values() â†’ sabse zyada lene wale top borrowers

In [34]:
user_borr = df.groupby("Issued_to")[["Genre","Author"]].size()
print(user_borr)
top_3_user = user_borr.head(3)
print(top_3_user)
#print(df)

Issued_to
Ahmed     3
Ali       3
Ayesha    3
Bilal     3
Farah     3
Hamza     3
Maria     3
Sara      3
Usman     3
Zainab    3
dtype: int64
Issued_to
Ahmed     3
Ali       3
Ayesha    3
dtype: int64

# ðŸ”¹ Day 5 â€“ Duration Analysis

## ðŸ“Œ Goals:

- Har book ke liye return_date â€“ issue_date nikalna

- Average duration dekhna

- Longest duration wali books identify karna

## ðŸ‘‰ Functions/Methods:

- pd.to_datetime() â†’ dates ko datetime me convert karna

- Subtraction â†’ return_date - issue_date se duration

- .mean() â†’ average duration

- .max() / .min() â†’ longest/shortest duration

In [20]:
print(df.columns)
df["Issued_date"] = pd.to_datetime(df["Issued_date"])
df["Return_date"] = pd.to_datetime(df["Return_date"])
#df["duration"] = df["Return_date"] - df["Issued_date"]
max_duration = df["duration"].max()
print("Max Duration Time:",max_duration)

avg = df["duration"].mean()
print("Average Duration Time:",avg)

min_duration = df["duration"].min()
print("Min Duration Time:",min_duration)

Index(['Book_id', 'Title', 'Author', 'Genre', 'Issued_to', 'Issued_date',
       'Return_date', 'created_at', 'duration'],
      dtype='object')
Max Duration Time: 15 days 00:00:00
Average Duration Time: 12 days 19:12:00
Min Duration Time: 9 days 00:00:00

# ðŸ”¹ Day 6 â€“ Time Trend Analysis

## ðŸ“Œ Goals:

- Month-wise books issue count

- Sabse zyada kis month me books issue hoti hain

## ðŸ‘‰ Functions/Methods:

- .dt.month / .dt.year â†’ date se month/year extract karna

- .groupby("month") + .count()

- .idxmax() â†’ sabse zyada count wali month

# ðŸ”¹ Day 7 â€“ Top N Insights

## ðŸ“Œ Goals:

- Top 5 most issued books

- Top 5 authors

- Top 5 borrowers

## ðŸ‘‰ Functions/Methods:

- .value_counts().head(5) â†’ top 5 items

- .nlargest(5, "column") â†’ top 5 values

- âœ… Recap â€“ Pandas ke Must-Know Functions

- shape, head(), tail(), sample() â†’ data overview

- info(), describe() â†’ structure + summary

- isnull(), value_counts() â†’ data quality + frequency

- groupby(), sort_values() â†’ aggregation & sorting

- mean(), max(), min() â†’ statistics

- to_datetime(), dt.month, dt.year â†’ date handling