In [24]:
import mysql.connector
import pandas as pd

# Connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="library_db"
)

# Query
query = "SELECT * FROM books"
df = pd.read_sql(query, conn)

C:\Users\princ\AppData\Local\Temp\ipykernel_9360\1151236902.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

# Dataset ko samajhna (Basic Info)
## ðŸ“Œ Goals:
- Rows & columns count dekhna

- Columns ke names & datatypes samajhna

- Missing values check karna

## ðŸ‘‰ Functions/Methods:

- .shape â†’ total rows/columns

- .columns â†’ column names

- .info() â†’ datatype aur memory

- .isnull().sum() â†’ missing values

In [40]:
print("Total Row and Columns:",df.shape)
print("\nColumns Name:",df.columns)
#print("\n Missing Values:",df.isnull)
print("Datatype and Memory:",df.info())

Total Row and Columns: (50, 10)

Columns Name: Index(['Book_id', 'Title', 'Author', 'Genre', 'Issued_to', 'Issued_date',
       'Return_date', 'created_at', 'duration', 'Months'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book_id      50 non-null     int64
 1   Title        50 non-null     object
 2   Author       50 non-null     object
 3   Genre        50 non-null     object
 4   Issued_to    50 non-null     object
 5   Issued_date  50 non-null     datetime64[ns]
 6   Return_date  50 non-null     datetime64[ns]
 7   created_at   50 non-null     datetime64[ns]
 8   duration     50 non-null     timedelta64[ns]
 9   Months       50 non-null     object
dtypes: datetime64[ns](3), int64(1), object(5), timedelta64[ns](1)
memory usage: 4.0+ KB
Datatype and Memory: None

# Simple Exploration

## ðŸ“Œ Goals:

- First few records dekhna

- Last few records dekhna

- Random rows check karna

## ðŸ‘‰ Functions/Methods:

- .head() â†’ pehle 5 rows

- .tail() â†’ last 5 rows

- .sample() â†’ random row

In [39]:
print(df.head())
print(df.tail())
print(df.sample())

   Book_id              Title            Author        Genre Issued_to  \
0        1      The Alchemist      Paulo Coelho      Fiction       Ali
1        2      Atomic Habits       James Clear    Self-help      Sara
2        3       Harry Potter      J.K. Rowling      Fantasy     Bilal
3        4  Rich Dad Poor Dad   Robert Kiyosaki      Finance    Ayesha
4        5         Clean Code  Robert C. Martin  Programming     Hamza

  Issued_date Return_date          created_at duration    Months
0  2024-01-05  2024-01-15 2025-09-22 19:11:49  10 days   January
1  2024-01-07  2024-01-20 2025-09-22 19:11:49  13 days   January
2  2024-01-10  2024-01-25 2025-09-22 19:11:49  15 days   January
3  2024-02-01  2024-02-12 2025-09-22 19:11:49  11 days  February
4  2024-02-05  2024-02-18 2025-09-22 19:11:49  13 days  February
    Book_id           Title        Author      Genre Issued_to Issued_date  \
45       46    Harry Potter  J.K. Rowling    Fantasy       Ali  2024-06-07
46       47   Atomic Habits   James Clear  Self-help      Sara  2024-06-10
47       48   The Alchemist  Paulo Coelho    Fiction     Bilal  2024-06-12
48       49  Start With Why   Simon Sinek  Self-help     Hamza  2024-06-15
49       50    Harry Potter  J.K. Rowling    Fantasy       Ali  2024-06-18

   Return_date          created_at duration Months
45  2024-06-22 2025-09-27 15:34:28  15 days   June
46  2024-06-25 2025-09-27 15:34:28  15 days   June
47  2024-06-27 2025-09-27 15:34:28  15 days   June
48  2024-06-30 2025-09-27 15:34:28  15 days   June
49  2024-07-02 2025-09-27 15:34:28  14 days   June
   Book_id      Title       Author         Genre Issued_to Issued_date  \
5        6  Deep Work  Cal Newport  Productivity     Farah  2024-02-08

  Return_date          created_at duration    Months
5  2024-02-17 2025-09-22 19:11:49   9 days  February

# ðŸ”¹ Day 3 â€“ Genre & Author Popularity

## ðŸ“Œ Goals:

- Har genre ki count nikalo (kitni books issue hui)

- Top authors find karo

## ðŸ‘‰ Functions/Methods:

- .value_counts() â†’ genre/author frequency

- .groupby() + .count() â†’ genre-wise count

In [26]:
genre = df.groupby("Genre")["Author"].count()
print(genre)
#print(df)
top = df.groupby("Author")[["Author","Genre"]].count().idxmax(axis=0)
print(top)

Genre
Biography        3
Business         1
Fantasy          9
Fiction          9
Finance          3
History          4
Philosophy       2
Productivity     2
Programming      7
Self-help       10
Name: Author, dtype: int64
Author    J.K. Rowling
Genre     J.K. Rowling
dtype: object

# ðŸ”¹ Day 4 â€“ Borrower Analysis

## ðŸ“Œ Goals:

- Har user ne kitni books li

- Top 3 borrowers find karo

## ðŸ‘‰ Functions/Methods:

- .groupby("issued_to") + .count()

- .sort_values() â†’ sabse zyada lene wale top borrowers

In [30]:
user_borr = df.groupby("Issued_to")[["Genre","Author"]].size().sort_values(ascending=False)
print(user_borr)

top_3_user = user_borr.sort_values(ascending=False).head(3)
print(top_3_user)
#print(df)

Issued_to
Ali       9
Sara      7
Bilal     6
Hamza     5
Ahmed     4
Farah     4
Usman     4
Maria     4
Zainab    4
Ayesha    3
dtype: int64
Issued_to
Ali      9
Sara     7
Bilal    6
dtype: int64

# ðŸ”¹ Day 5 â€“ Duration Analysis

## ðŸ“Œ Goals:

- Har book ke liye return_date â€“ issue_date nikalna

- Average duration dekhna

- Longest duration wali books identify karna

## ðŸ‘‰ Functions/Methods:

- pd.to_datetime() â†’ dates ko datetime me convert karna

- Subtraction â†’ return_date - issue_date se duration

- .mean() â†’ average duration

- .max() / .min() â†’ longest/shortest duration

In [38]:
print(df.columns)
df["Issued_date"] = pd.to_datetime(df["Issued_date"])
df["Return_date"] = pd.to_datetime(df["Return_date"])
#df["duration"] = df["Return_date"] - df["Issued_date"]
max_duration = df["duration"].max()
print("Max Duration Time:",max_duration)

avg = df["duration"].mean()
print("Average Duration Time:",avg)

min_duration = df["duration"].min()
print("Min Duration Time:",min_duration)

Index(['Book_id', 'Title', 'Author', 'Genre', 'Issued_to', 'Issued_date',
       'Return_date', 'created_at', 'duration', 'Months'],
      dtype='object')
Max Duration Time: 16 days 00:00:00
Average Duration Time: 13 days 16:48:00
Min Duration Time: 9 days 00:00:00

# ðŸ”¹ Day 6 â€“ Time Trend Analysis

## ðŸ“Œ Goals:

- Month-wise books issue count

- Sabse zyada kis month me books issue hoti hain

## ðŸ‘‰ Functions/Methods:

- .dt.month / .dt.year â†’ date se month/year extract karna

- .groupby("month") + .count()

- .idxmax() â†’ sabse zyada count wali month

In [35]:
print(df.columns)
#df["Issued_date"].dt.month
df["Months"] = df["Issued_date"].dt.month_name()
#df["Months"] = df["Issued_date"].dt.to_period("M")
books_count = df.groupby("Months")["Title"].count().sort_values(ascending=False)
max_month = books_count.idxmax()
print("\nHar Months Kitni Books Issued huy:",books_count)
print("\nSab Sy Zada Issued Hony wala Month:",max_month)

Index(['Book_id', 'Title', 'Author', 'Genre', 'Issued_to', 'Issued_date',
       'Return_date', 'created_at', 'duration', 'Months'],
      dtype='object')

Har Months Kitni Books Issued huy: Months
May         15
April       10
March       10
June         8
February     4
January      3
Name: Title, dtype: int64

Sab Sy Zada Issued Hony wala Month: May

# ðŸ”¹ Day 7 â€“ Top N Insights

## ðŸ“Œ Goals:

- Top 5 most issued books

- Top 5 authors

- Top 5 borrowers

## ðŸ‘‰ Functions/Methods:

- .value_counts().head(5) â†’ top 5 items

- .nlargest(5, "column") â†’ top 5 values

- âœ… Recap â€“ Pandas ke Must-Know Functions

- shape, head(), tail(), sample() â†’ data overview

- info(), describe() â†’ structure + summary

- isnull(), value_counts() â†’ data quality + frequency

- groupby(), sort_values() â†’ aggregation & sorting

- mean(), max(), min() â†’ statistics

- to_datetime(), dt.month, dt.year â†’ date handling

In [ ]:
#Q1
most_issued_books = df.groupby("Title").sizex()
most_issued_books = most_issued_books.sort_values(ascending=False)
print("Top 5 Most Issued Books: ",most_issued_books.head(5))
#Q2
top_author = df.groupby("Author").size()
top_author = top_author.sort_values(ascending=False)
print("\nTop 5 Books Author: ",top_author.head(5))
#Q3
top_5_borro = df.groupby("Issued_to").size()
top_5_borro = top_5_borro.sort_values(ascending=False)
print("\nTop 5 borrowers: ", top_5_borro.head(5))

Top 5 Most Issued Books:  Title
Harry Potter     7
The Alchemist    5
Atomic Habits    4
Deep Work        2
Sapiens          2
dtype: int64

Top 5 Books Author:  Author
J.K. Rowling         7
Paulo Coelho         5
James Clear          4
Yuval Noah Harari    3
Cal Newport          2
dtype: int64

Top 5 borrowers:  Issued_to
Ali      9
Sara     7
Bilal    6
Hamza    5
Ahmed    4
dtype: int64

In [ ]:
# Excel me likhne ke liye openpxl use hota hai
df.to_excel("library_analysis.xlsx", index=False)

with pd.ExcelWriter("library_analysis.xlsx", engine="openpyxl") as writer:
    df.to_excel(writer, sheet_name="Full Data", index=False)
    
    # Analysis sheets
    top_5_borro.to_excel(writer, sheet_name="Top Borrowers")
    top_author.head(5).to_excel(writer, sheet_name="Top Authors")
    most_issued_books.head(5).to_excel(writer, sheet_name="Top Books")
    books_count.to_excel(writer, sheet_name="Month Trends")